<div class = "phone_icon"><img src = "assets/images/icons8-phone-50.png" width = "75" height = "75">
    <i><h4>Owner's Cell: 828-713-0486</h4></i>
</div>
<div class = "douglas_icon">
    <img src = "assets/images/HunterDouglas.jpg" width = "161.5" height = "60.5">
</div>
<div class = "hunter_douglas_number">
    <i><h4> <a href="https://www.hunterdouglas.com/">Hunter Douglas</a> &#169; Cell: 1 (800) 789-0331</h4></i>
</div>


<!--
<p>{{data}}</p>
<tbody>
    <tr *ngFor = "let contact of contactMethods">
        <li>{{contact.contactNames}}</li>
        <td>{{contact.contact1}}</td>
        <td>{{contact.contact2}}</td>
        <td>{{contact.contact3}}</td>
    </tr>
</tbody>
<p data = "contact">{{data}}</p>
--->




